body {
    padding-top: 90px;
    padding-bottom: 20px;
    background-color: #2D4861;
}
a {
    color: #B0DDDF;
}
nav {
    padding-top: 20px;
}
button{
    color: #B0DDDF;
}
legend{
    color:#B0DDDF ;
}
label{
    color: #B0DDDF;
}
.posision-login {
    padding-top: 30px;
}
.menu {
    background-color: #598EA3;
}
.home-description{
    background-color: #E5EAEF;
}
.text-color-home-description {
    color: #2D4861;

}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















